.section-1-header {
    background-color: #1ac073;
    color: #fff;
    height: max-content;
}

.filter-to-white {
    filter: brightness(0) invert(1);
}

.filler-to-yellow {
    filter: invert(93%) sepia(38%) saturate(6134%) hue-rotate(356deg) brightness(103%) contrast(102%);
}

.header-icon {
    width: 1.5rem;
    height: 1.5rem;
}

.tittle {
    font-family: "Squada One";
    font-size: 34px;
}

.section-1-header .section-1-content {
    margin-top: 6.5rem;
}

.section-1-header .section-1-content .row {
    padding-bottom: 6rem;
}

.section-1-header .section-1-content .row>div {
    padding-top: 2rem;
}

.section-1-header .section-1-content h1 {
    font-size: 50px;
}
.section-2-body {
    font-family: "Poppins", sans-serif; 
}
.section-5-footer {
    background-color: #1ac073;
    color: #fff;
    height: max-content;
}
.section-5-footer .container{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.section-5-footer #brand-title {
    font-family: "Squada One";
    font-size: 34px;
}
.box {
    margin-top: 40px;
    display: grid;
    grid-template-areas: 'soloyo';
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    justify-items: center;
    max-width: 100%;
    overflow: hidden;
    font-family: "ABeeZee", sans-serif;
    color: black;
}

.box img {
    grid-area: soloyo;
    width: 100%;
    max-width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.6;
}

.food {
    grid-area: soloyo;
    width: 100%;
    align-self: start;
    margin-left: 150px;
    font-size: 30px;
    font-weight: 400;
    line-height: 5;
    text-align: start;

}

.des {
    grid-area: soloyo;
    width: 100%;
    align-self: start;
    text-align: start;
    line-height: 17;
    font-style: italic;
    font-family: ABeeZee;
    font-size: 14px;
    font-weight: 400;
    margin-left: 150px;
}
.left-filter {
    width: 100%;
    height: 50%;
    font-weight: 500;
}
.price-ranger {
    background-color: #f6f6f9;
}
.check-box {
    background-color: #f6f6f9;
}
.form-check-input:checked {
    border-color: #c3c2c3;
    background-color: #1ac073;
}

.slider {
    height: 5px;
    position: relative;
    background: #e1e2e3;
    border-radius: 5px;
}

.slider .progress {
    height: 100%;
    left: 25%;
    right: 25%;
    position: absolute;
    border-radius: 5px;
    background: #1ac073;
}

.range-input {
    position: relative;
}

.range-input input {
    position: absolute;
    width: 100%;
    height: 5px;
    top: -5px;
    background: none;
    pointer-events: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

input[type="range"]::-webkit-slider-thumb {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    pointer-events: auto;
    -webkit-appearance: none;
    background: #1ac073;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

input[type="range"]::-moz-range-thumb {
    height: 14px;
    width: 14px;
    border-radius: 50%;
    pointer-events: auto;
    -moz-appearance: none;
    background: #1ac073;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.pagination a {
    color: black;
    text-decoration: none;
    padding: 8px 15px;
    display: flex;
}
.pagination a.active{
    background-color: #1ac073;
    font-weight: bold;
    border-radius: 5px;
}
.pagination a:hover:not(.active){
    background-color: #c3c2c3;
    border-radius: 5px;
}
