.section-1-header {
    background-color: #1ac073;
    color: #fff;
    height: max-content;
}
.filter-to-white {
    filter: brightness(0) invert(1);
}
.filler-to-yellow {
    filter: invert(93%) sepia(38%) saturate(6134%) hue-rotate(356deg) brightness(103%) contrast(102%);
}
.header-icon {
    width: 1.5rem;
    height: 1.5rem;
}
.tittle {
    font-family: "Squada One";
    font-size: 34px;
}
.section-1-header .section-1-content {
    margin-top: 6.5rem;
}
.section-1-header .section-1-content .row {
    padding-bottom: 6rem;
}
.section-1-header .section-1-content .row > div {
    padding-top: 2rem;
}
.section-1-header .section-1-content h1 {
    font-size: 50px;
}
.section-2 {
    height: max-content;
    background: #f7f8fa;
}
.section-2 .container {
    padding-top: 4rem;
    padding-bottom: 1rem;
}
.section-2 .section-2-products .card {
    border-radius: 10px;
}
.section-2 .section-2-products img.card-img-top {
    border-radius: 10px 10px 0 0;
}
.section-2 .section-2-products .card-img-overlay span {
    margin-top: 2px;
    border-radius: 10px 0 0 0;
}
.section-3 {
    height: max-content;
}
.section-3 .container {
    padding-top: 4rem;
    padding-bottom: 3rem;
}
.section-3 #card-img {
    max-height: 200px;
}
.section-3 .blog-products div:nth-child(2) .row #card-img {
    max-height: 600px;
}
.section-3 .blog-products .card .card-body .card-text {
    font-size: 14px;
}
.section-4 {
    height: max-content;
    background-color: #f7f8fa;
}
.section-4 .container {
    padding-top: 4rem;
    padding-bottom: 3rem;
}
.section-5-footer {
    background-color: #1ac073;
    color: #fff;
    height: max-content;
}
.section-5-footer .container{
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.section-5-footer #brand-title {
    font-family: "Squada One";
    font-size: 34px;
}
@media only screen and (max-width: 600px) {
    .section-3 .blog-products .card .card-body .card-title {
        font-size: 14px;
    }
    .section-3 .blog-products .card .card-body .card-text {
        font-size: 10px;
    }
    .section-3 .blog-products div:nth-child(2) .row #card-img {
        max-height: 300px;
    }
}
@media only screen and ((min-width: 600px) and (max-width: 768px)) {
    .section-3 .blog-products .card .card-body .card-title {
        font-size: 12px;
    }
    .section-3 .blog-products .card .card-body .card-text {
        font-size: 8px;
    }
    .section-3 .blog-products div:nth-child(2) .row #card-img {
        max-height: 400px;
    }
}